{
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "no-extraneous-dependencies": "off"
  }
}
